* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem; 
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #d1f504;
    color: rgba(71, 7, 231, 1);
    cursor: url('cur.png'), auto;
    height: 100%;
    width: 100%;
}

header {
    font-family: Arial, sans-serif;
    background-color: #333; 
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
}

header h1 {
    margin: 0;
    font-size: 1.5rem; 
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
    gap: 1.25rem; 
    width: 100%;
    max-width: 1500px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; 
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    width: 100%;
    max-width: 75rem;
    min-width: 320px;
    margin: 0 auto;
}

section {
    margin-bottom: 2.5rem; 
    padding: 1.25rem;
    background: white;
    border-radius: 1rem;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    position: relative;
    top: 2rem;
    border-radius: 1rem;
    border: 1.25rem solid hsl(0, 100%, 50%);
    display: flex; 
    flex-direction: column; 
}

section p {
    margin: 0.625rem 0;
}

section ul {
    margin: 0.625rem 0;
    padding-left: 0;
}

section ul li {
    margin: 0.3125rem 2rem;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0.625rem auto;
    border-radius: 0.5rem;
    max-width: 31.25rem; 
    min-width: 9.375rem; 
}

section div p {
    font-size: 0.875rem; 
    text-align: center;
    margin-top: 0.625rem;
    color: rgba(102, 102, 102, 1); 
}

a {
    color: #007BFF; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem; 
    position: relative;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 37.5rem; 
    min-width: 6.25rem; 
}

#carry {
    background-color: aqua;
    width: 100%;
    max-width: 1500px;
    min-width: 12.5rem;
    position: relative;
    z-index: 5;
}


#absolute-message {
    position: fixed;
    top: 0.625rem;
    left: 0.625rem;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 0.625rem 1.25rem;
    font-size: 1.25rem; 
    font-weight: bold;
    border-radius: 0.5rem;
    z-index: 10;
}